<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.nguyenlinh.rotations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
                  <!--android:configChanges="orientation|screenSize|screenLayout|keyboardHidden
                  |keyboard|locale|mcc|mnc|navigation|fontScale|uiMode|layoutDirection"> cái này chính là ngăn ko tự khỏi động lại khi quay màn hình hay thay đổi ngôn ngữ-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>